body{
    top: 0;
    margin: 0;
    background-color: lightpink;
}
h1{
    text-align: center;
}
.navbar{
    background-color: gray;
}
.navbar ul{
    display: flex;
    position: relative;
   list-style: none;
}
.navbar ul li{
    padding: 19px 18px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: darkblue;
    font-size: 1.1rem;
}
.navbar ul li a:hover
{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
#search{
    float: right;
    margin-right: 12px;
    margin-left: 850px;
    border-radius: 25px;
    height: 12px;
    margin-top: 18px;
    padding: 14px 14px;
}
.container{
    width: auto;
    margin-left: 0;
    
}















